$nav-font-color: rgba(18, 255, 169, .97);
$nav-text-shadow: 0px 0px 15px rgba(34, 255, 169, 1);

.nav-text {
    color: $nav-font-color;
    text-shadow: $nav-text-shadow;
}

.app-container {
    display: flex;
    flex-direction: row;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 100px;
    max-width: 150px;
    width: 10vw;
    height: 98vh;
    float: left;
    margin: 0;
    padding-left: 2vw;
    padding-top: 2vh;
    background: black;
    color: white;
}

.navigation-link-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
}

.navigation-bar-link {
    @extend .nav-text;
    margin-bottom: 5px;
    text-decoration: none;
}

.session-menu-list {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

.session-menu-item {
    @extend .nav-text;
    display: none;
    position: relative;
}

.session-menu-list:hover .session-menu-item {
    display: block;
}

.session-menu {
    display: flex;
    flex-direction: column;
}
