;;Applications configuration file

{:secrets #include #join [#env HOME "/.secrets.edn"]

 :server
 #profile {:dev {:port 3000}}

 :db-host "localhost"
 :db-port 5432
 :db-name "playground"

 :db
 {:classname "org.postgresql.Driver"
  :subprotocol "postgresql"
  :subname  #join ["//" #ref [:db-host] ":" #ref [:db-port] "/" #ref [:db-name]]
  :serverTimezone "America/Chicago"
  :user #ref [:secrets :user]
  :password #ref [:secrets :db-password]}}
